<div class="container">

    <div class="row mt-3">
        <div class="col-10">
            <h1 class="display-4 open-sans-title text-monospace">Clientes</h1>
        </div>

        <div class="col-2">
            <button class="btn btn-lg btn-yellow shadow" type="button" data-toggle="collapse"
                data-target="#collapseAddCliente" aria-expanded="false"
                aria-controls="collapseAddCliente">Agregar</button>
        </div>
    </div>

    <div class="row mt-3 collapse" id="collapseAddCliente">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card my-2">
                <div class="card-body shadow">
                    <h5 class="card-title open-sans-title">Agregar cliente</h5>
                    <form name="clienteForm">
                        <label for="nombre" class="open-sans-title">
                            Nombre
                            <span class="required">*</span> 
                        </label>
                        <input name="nombre" id="nombre" placeholder="Nombre" class="form-control my-1"
                            type="text" ng-required="true" ng-model="cliente.Nombre" maxlength="45">
                        <div class="text-danger" ng-show="clienteForm.nombre.$touched && clienteForm.nombre.$invalid">
                            Ingrese un nombre
                        </div>
                        <label for="ApeP" class="open-sans-title mt-2">
                            Apellido Paterno
                        </label>
                        <input id="ApeP" placeholder="Apellido Paterno" class="form-control my-1" type="text"
                            ng-model="cliente.Ape_Pa" maxlength="45">

                        <label for="ApeM" class="open-sans-title mt-2">
                            Apellido Materno
                        </label>
                        <input id="ApeM" placeholder="Apellido Materno" class="form-control my-1" type="text"
                            ng-model="cliente.Ape_Ma" maxlength="45">

                        <label for="rfc" class="open-sans-title mt-2">
                            RFC 
                            <span class="required">*</span>
                        </label>
                        <input name="rfc" id="rfc" placeholder="RFC" class="form-control my-1 " type="text"
                            ng-required="true" ng-model="cliente.RFC" maxlength="45">
                        <div ng-show="clienteForm.rfc.$touched && clienteForm.rfc.$invalid" class="text-danger">Ingrese
                            un RFC.
                        </div>

                        <label for="telefono" class="open-sans-title mt-2">
                            Telefono
                        </label>
                        <input id="telefono" placeholder="Teléfono fijo" class="form-control my-1" type="tel"
                            ng-model="cliente.Telefono"  maxlength="45">

                        <label for="celular" class="open-sans-title mt-2">
                            Celular 
                        </label>
                        <input id="celular" placeholder="Número Celular" class="form-control my-1" type="tel"
                            ng-model="cliente.Celular" maxlength="45">

                        <label for="obs" class="open-sans-title mt-2">
                            Observaciones 
                        </label>
                        <textarea id="obs" placeholder="Consideraciones con el cliente" class="form-control my-1"
                            cols="30" rows="5" ng-model="cliente.Observaciones" maxlength="500"></textarea>

                        <label for="domicilio" class="open-sans-title mt-2">
                            Dirección 
                        </label>
                        <input id="domicilio" placeholder="Domicilio del cliente" class="form-control my-1" type="text"
                            ng-model="cliente.Dir" maxlength="60">

                        <label for="codigo" class="open-sans-title mt-2">
                            CP 
                            <span class="required">*</span>
                        </label>
                        <select name="codigo" id="codigo" class="form-control my-1" ng-required="true"
                            ng-model="cliente.idCodPostal">
                            <option ng-repeat="codigo in cp" value="{{codigo.idCodPostal}}">
                                {{codigo.CodPostal}}
                            </option>
                        </select>
                        <div ng-show="clienteForm.codigo.$touched && clienteForm.codigo.$invalid" class="text-danger">
                            Seleccione un código postal
                        </div>
                        <label for="estado" class="open-sans-title mt-2">
                            Estado 
                            <span class="required">*</span>
                        </label>
                        <select name="estado" id="estado" class="form-control my-1" ng-required="true"
                            ng-model="cliente.idEdo">
                            <option ng-repeat="estado in estados" value="{{estado.idEdo}}">{{estado.nombre}}</option>
                        </select>
                        <div ng-show="clienteForm.estado.$touched && clienteForm.estado.$invalid" class="text-danger">
                            Seleccione un estado
                        </div>
                        <label>
                            Paquetería
                            <span class="required">*</span>
                        </label>
                        <select class="form-control my-1" ng-required="true" ng-model="paqueteriaSelected">
                            <option ng-repeat="paqueteria in paqueterias" value="{{paqueteria.idPaqueteria}}">
                                {{paqueteria.Nombre}}
                            </option>
                        </select>
                        <button class="btn text-light my-1 mt-3 bg-success" placeholder="Estado"
                            ng-click="agregarCliente()" ng-disabled="clienteForm.$invalid">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

    <div id="cargando" class="row">
        <div class="col-12"><br><br><br><br><br></div>
        <div class="col-5"></div>
        <div class="col-2">
            <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col-5"></div>
    </div>

    <div class="row">
        <div class="card col-3 mx-1 my-1 shadow" ng-repeat="cl in clientes">
            <div class="card-body">
                <h5 class="card-title">{{cl.Nombre}}</h5>
                <p class="card-text font-weight-bold">
                    <ul class="list-group font-weight-bold">
                        <li class="list-group-item">
                            <p>RFC: <span class="font-weight-light">{{cl.RFC}}</span></p><br>
                        </li>
                        <li class="list-group-item">
                            <p>Teléfono: <span class="font-weight-light">{{cl.Telefono}}</span></p><br>
                        </li>
                        <li class="list-group-item">
                            <p>Dirección: <span class="font-weight-light">{{cl.Dir}}</span></p><br>
                        </li>
                        <li class="list-group-item">
                            <p>Observaciones: <span class="font-weight-light">{{cl.Observaciones}}</span></p>
                        </li>
                        <li class="list-group-item">
                            <p>Paqueteria: <span class="font-weight-light">{{cl.paqueteria}}</span></p>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="form-group">
                <button type="button" class="btn bg-info text-light my-1" ng-click="mostrarDatosModal(cl.idClientes)"
                    data-toggle="modal" data-target="editarClienteModal">
                    Editar
                </button>
                <button class="btn bg-danger text-light" ng-click="eliminarCliente(cl.idClientes)">
                    Borrar
                </button>
            </div>
        </div>
    </div>

    <div class="card mt-3" ng-controller="paqueteriaController">
        <div class="row col-12">
            <div class="bg-white my-3 col-12">
                <h1 class="h3 open-sans-title mb-3 font-weight-normal col-12 text-center">Paquetería</h1>
                <table class="table table-reflow col-12">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio por kilo</th>
                            <th scope="col">Observaciones</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="text-center" ng-repeat="paqueteria in listaPaqueterias" id="nota">
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>
                                <span>{{paqueteria.Nombre}}</span>
                            </td>
                            <td>
                                <span>{{paqueteria.precio_kilo}}</span>
                            </td>
                            <td>
                                <span>{{paqueteria.observaciones}}</span>
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="button" class="btn bg-info text-light my-1"
                                        ng-click="mostrarModalEditar(paqueteria.idPaqueteria)" data-toggle="modal"
                                        data-target="editarPaqueteriaModalc">
                                        Editar
                                    </button>
                                    <button ng-click="eliminar(paqueteria.idPaqueteria)" class="btn btn-sm btn-danger">
                                        Borrar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <p class="col-6 text-left">
                        <button type="button" class="btn bg-info text-light my-1" ng-click="agregarPaqueteriaModal()"
                            data-toggle="modal" data-target="agregarPaqueteriaModal">
                            Agregar Paqueteria
                        </button>
                    </p>
                    <p class="col-6 text-right">
                        <button ng-disabled="compraForm.$invalid" ng-click="registrarCompra()"
                            class=" my-3 mx-3 btn btn-success">
                            Completar compra
                        </button>
                    </p>
                </div>
            </div>
        </div>

        <!--MODAL AGREGAR PAQUETERIA-->
        <div class="modal fade" id="agregarPaqueteriaModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Paqueteria</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-show="mostrarAlerta">
                            Llena todos los datos
                        </div>
                        <div class="row col-12 my-5">
                            <form class="ng-invalid col-12" name="agregarPaqueteriaForm">
                                <label>
                                    Nombre
                                    <span class="required">
                                        *
                                    </span>
                                </label>
                                <input class="form-control my-1" type="text" placeholder="Nombre"
                                    ng-model="paqueteria.nombre" ng-required="true"  maxlength="45">
                                <label>
                                    Precio por kilo
                                </label>
                                <input class="form-control my-1" type="number" placeholder="Precio por kilo"
                                    ng-model="paqueteria.precio" min="0"  max="999999999">
                                <label>
                                    Observaciones
                                </label>
                                <textarea class="form-control my-1" placeholder="Observaciones" cols="30" rows="10"
                                    ng-model="paqueteria.observaciones" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" ng-disabled="agregarPaqueteriaForm.$invalid"
                            ng-click="agregarPaqueteria()">
                            Agregar
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!--MODAL EDITAR PAQUETERIA-->
        <div class="modal fade" id="editarPaqueteriaModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Paqueteria</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-show="mostrarAlerta">
                            Llena todos los datos
                        </div>
                        <div class="row col-12 my-5">
                            <form class="ng-invalid col-12" name="editarPaqueteriaForm">
                                <label>
                                    Nombre
                                    <span class="required">
                                        *
                                    </span>
                                </label>
                                <input class="form-control my-1" type="text" placeholder="Nombre"
                                    ng-model="paqueteriaAEditar.Nombre" ng-required="true" maxlength="45">
                                <label>
                                    Precio por kilo
                                </label>
                                <input class="form-control my-1" type="number" placeholder="Precio por kilo"
                                    ng-model="paqueteriaAEditar.precio_kilo" min="0" max="999999999">
                                <label>
                                    Observaciones
                                </label>
                                <textarea class="form-control my-1" placeholder="Observaciones" cols="30" rows="10"
                                    ng-model="paqueteriaAEditar.observaciones" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" ng-disabled="editarPaqueteriaForm.$invalid"
                            ng-click="editarPaqueteria(paqueteriaAEditar.idPaqueteria)">
                            Editar
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL EDITAR CLIENTE -->
    <div class="modal fade" id="editarClienteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar cliente {{ clienteModal.Nombre }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" ng-show="mostrarAlerta">
                        Llena todos los datos
                    </div>
                    <div class="row col-12 my-5">
                        <form class="ng-invalid col-12" name="clienteModalForm">
                            Nombre
                            <span class="required">*</span>
                            <input name="nombre" class="form-control my-1"
                                type="text" placeholder="Nombre" ng-model="clienteModal.Nombre" ng-required="true" maxlength="45">
                            <div ng-show="clienteModalForm.nombre.$touched && clienteModalForm.nombre.$invalid"
                                class="text-danger">
                                Ingrese un nombre
                            </div>
                            Apellido Paterno
                            <input class="form-control my-1" type="text" placeholder="Apellido paterno"
                                ng-model="clienteModal.Ape_Pa" maxlength="45">
                            Apellido Materno
                            <input class="form-control my-1" type="text" placeholder="Apellido materno"
                                ng-model="clienteModal.Ape_Ma" maxlength="45">
                            RFC<span class="required">*</span> 
                            <input name="rfc" class="form-control my-1" type="text"
                                placeholder="RFC" ng-model="clienteModal.RFC" ng-required="true" maxlength="45">
                            <div ng-show="clienteModalForm.rfc.$touched && clienteModalForm.rfc.$invalid"
                                class="text-danger">
                                Ingrese un RFC
                            </div>
                            Teléfono
                            <input class="form-control my-1" type="tel" placeholder="Telefono"
                                ng-model="clienteModal.Telefono" maxlength="45">
                            Estado<span class="required">*</span> 
                            <select name="estado" class="custom-select my-1"
                                ng-required="true" ng-model="clienteModal.idEdo">
                                <option ng-repeat="estado in estados" value="{{estado.idEdo}}">
                                    {{estado.nombre}}
                                </option>
                            </select>
                            <div ng-show="clienteModalForm.estado.$touched && clienteModalForm.estado.$invalid"
                                class="text-danger">Seleccione un estado
                            </div>
                            Celular
                            <input class="form-control my-1" type="tel" placeholder="Celular"
                                ng-model="clienteModal.Celular" maxlength="45">
                            Observaciones
                            <textarea class="form-control my-1" placeholder="Observaciones" cols="30"
                                rows="5" ng-model="clienteModal.Observaciones" maxlength="500">
                            </textarea>
                            Domicilio
                            <input class="form-control my-1" type="text" placeholder="Dirección"
                                ng-model="clienteModal.Dir" maxlength="60">
                            Código postal
                            <span class="required">*</span> 
                            <select name="codigo" class="form-control my-1"
                                ng-required="true" ng-model="clienteModal.idCodPostal">
                                <option ng-repeat="codigo in cp" value="{{codigo.idCodPostal}}">
                                    {{codigo.CodPostal}}
                                </option>
                            </select>
                            <label>
                                Paquetería
                                <span class="required">*</span>
                            </label>
                            <select class="form-control my-1" ng-required="true" ng-model="paqueteriaSelected">
                                <option ng-repeat="paqueteria in paqueterias" value="{{paqueteria.idPaqueteria}}">
                                    {{paqueteria.Nombre}}
                                </option>
                            </select>
                            <div ng-show="clienteModalForm.codigo.$touched && clienteModalForm.codigo.$invalid"
                                class="text-danger">Seleccione un código postal</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-disabled="clienteModalForm.$invalid"
                        ng-click="updateCliente()">Guardar cambios</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>