<div class="my-2 container">
    <br><br>
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-10 card  shadow">
            <div class="card-body">
                <div class="card-title text-center mb-4">
                    <h1 class="h3 open-sans-title mb-3 font-weight-normal">Nueva compra</h1>
                    <p>Formato para llenar una compra a un proveedor</p>
                </div>
                <form name="compraForm">
                    <div class="form-label-group">
                        <label for="proveedores" class="open-sans-title mt-2">
                            Proveedor
                            <span class="required">
                                *
                            </span>
                        </label>
                        <select name="proveedores" id="proveedores" class="form-control my-1" ng-required="true"
                            ng-model="idProveedor">

                            <option ng-repeat="p in proveedores" value="{{p.idProveedor}}">
                                {{p.nombre}}
                            </option>
                        </select>
                        <div ng-show="compraForm.proveedores.$touched && compraForm.proveedores.$invalid"
                            class="text-danger">
                            Seleccione proveedor
                        </div>
                    </div>
                    <div class="bg-white my-3">
                        <table class="table table-reflow table-responsive">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre producto</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio unitario</th>
                                    <th class="text-right" scope="col">Subtotal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-center" ng-repeat="nota in notaVenta" id="nota">
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <span>{{nota.nombre}}</span>
                                    </td>
                                    <td>
                                        <span>{{nota.descripcion}}</span>
                                    </td>
                                    <td>
                                        <span>{{nota.cantidad}}</span>
                                    </td>
                                    <td>
                                        {{nota.precioCompra}}
                                    </td>
                                    <td>
                                        {{nota.cantidad*nota.precioCompra}}
                                    </td>
                                    <td>
                                        <button ng-click="eliminar(nota)" class="btn btn-sm btn-danger">
                                            Borrar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-right " colspan="5">
                                        Total
                                    </td>
                                    <td class="text-right">
                                        {{getTotal()}}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="row">
                            <p class="col-6 text-left">
                                <button type="button" class="btn bg-info text-light my-1" ng-click="mostrarDatosModal()"
                                    data-toggle="modal" data-target="agregarProdctoCompra">
                                    Agregar Producto
                                </button>
                            </p>
                            <p class="col-6 text-right">
                                <button ng-disabled="compraForm.$invalid" ng-click="registrarCompra()"
                                    class=" my-3 mx-3 btn btn-success">
                                    Completar compra
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <!--MODAL-->
    <div class="modal fade" id="agregarProdctoCompra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Compra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" ng-show="mostrarAlerta">
                        Llena todos los datos
                    </div>
                    <div class="row col-12 my-5">
                        <form class="ng-invalid col-12" name="comprasModalForm">
                            <label>
                                Producto
                            </label>
                            <select class="form-control" ng-model="producto.id" ng-required="true">
                                <option ng-repeat="producto in productos" value="{{producto.idPRODUCTOS}}">
                                    {{producto.nombre}}
                                </option>
                            </select>
                            <label>
                                Cantidad
                            </label>
                            <input class="form-control" type="number" ng-model="producto.cantidad" step="1" min="1"
                                ng-required="true" max="999999999">
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-disabled="comprasModalForm.$invalid"
                        ng-click="agregarProducto()">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>