<div class="container mt-4">
    <div class="row">
        <div class="col-3"></div>
        <div class=" col-6 header text-center text-primary">
            <h2 class="display-3 ">Bienvenido al Sistema AEA</h2>
            <h2 class="display-5 font-italic text-black-50">punto de venta online</h2>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row my-3">
        <div class="col-3"></div>
        <div class=" col-6 header text-center text-light">
            <h1 class="display-1 "><i class="fab fa-buysellads text-primary"></i></h1>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row" ng-controller="empleadosController">
        <div class="col-1"></div>
        <div class="col-10 card shadow">
            <div class="card-body">
                <div class="card-title text-center mb-4">
                    <h1 class="h3 open-sans-title mb-3 font-weight-normal">
                        Empleados
                    </h1>
                    <p>Formato para registrar un nuevo empleado</p>
                </div>
                <form name="empleadosForm">
                    <div class="form-label-group">
                        <label class="open-sans-title mt-2">
                            Nombre
                            <span class="required">
                                *
                            </span>
                        </label>
                        <input class="form-control" type="text" placeholder="Nombre" ng-model="nombre" maxlength="45">
                    </div>

                    <div class="form-label-group">
                        <label class="open-sans-title mt-2">
                            Apellido Paterno
                        </label>
                        <input class="form-control" type="text" placeholder="Apellido Paterno"
                            ng-model="apellidoPaterno" maxlength="45">
                    </div>

                    <div class="form-label-group">
                        <label class="open-sans-title mt-2">
                            Apellido Materno
                        </label>
                        <input class="form-control" type="text" placeholder="Apellido Materno"
                            ng-model="apellidoMaterno" maxlength="45">
                    </div>

                    <div class="row">
                        <p class="col-6 text-left mt-2">
                            <button type="button" class="btn bg-info text-light my-1" ng-click="agregarEmpleado()">
                                Agregar Empleado
                            </button>
                        </p>
                    </div>
                </form>
                <table class="table table-reflow">
                    <thead class="thead-light">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="p in empleados">
                        <tr>
                            <td>{{p.nombre}}</td>
                            <td>{{p.Ape_Pa}}</td>
                            <td>{{p.Ape_Ma}}</td>
                            <td><button ng-click="mostrarDatosModal(p.idEmpleado)"
                                    class="btn btn-sm btn-info">Editar</button></td>
                            <td><button ng-click="eliminar(p.idEmpleado)" class="btn btn-sm btn-danger">Borrar</button>
                            </td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </div>
        <div class="col-1"></div>
        <!--Modal-->
        <div class="modal fade" id="editarEmpleadoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Empleado {{ clienteModal.nombre }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert" ng-show="mostrarAlerta">
                            Llena todos los datos
                        </div>
                        <div class="row col-12 my-5">
                            <form class="ng-invalid col-12" name="clienteModalForm">
                                <label>
                                    Nombre
                                    <span class="required">
                                        *
                                    </span>
                                </label>
                                <input class="form-control my-1" type="text" placeholder="Nombre"
                                    ng-model="clienteModal.nombre" ng-required="true" maxlength="45">
                                <div ng-show="clienteModalForm.nombre.$touched && clienteModalForm.nombre.$invalid"
                                    class="text-danger">
                                    Ingrese un nombre
                                </div>
                                <label>
                                    Apellido Paterno
                                </label>
                                <input class="form-control my-1" type="text" placeholder="Apellido paterno"
                                    ng-model="clienteModal.Ape_Pa" maxlength="45">
                                <label>
                                    Apellido Materno
                                </label>
                                <input class="form-control my-1" type="text" placeholder="Apellido materno"
                                    ng-model="clienteModal.Ape_Ma" maxlength="45">
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" ng-disabled="clienteModalForm.$invalid"
                            ng-click="editar()">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="consultasController">
        <div id="productos" class="row my-3">
            <div class="card col-12 mx-1 my-1 shadow">
                <div class="card-body">
                    <h4 class="card-title">Todos los productos registrados</h4>
                    <p class="card-text font-weight-bold">
                        <table class="table table-reflow">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Talla</th>
                                    <th>Activo</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="p in productos">
                                <tr>

                                    <td>{{p.nombre}}</td>
                                    <td>{{p.cantidad}}</td>
                                    <td>{{p.talla}}</td>
                                    <td>{{p.activo}}</td>
                                </tr>
                            <tbody>
                        </table>
                    </p>
                </div>
            </div>
        </div>


        <div id="clientes" class="row">
            <div class="card col-12 mx-1 my-1 shadow">
                <div class="card-body">
                    <h4 class="card-title">Cliente con mas compras</h4>
                    <p class="card-text font-weight-bold">
                        <table class="table table-reflow">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido paterno</th>
                                    <th>Apellido materno</th>
                                    <th>Estado</th>
                                    <th>Código Postal</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="c in clientes">
                                <tr>
                                    <td>{{c.Nombre}}</td>
                                    <td>{{c.Ape_Pa}}</td>
                                    <td>{{c.Ape_Ma}}</td>
                                    <td>{{c.Estado}}</td>
                                    <td>{{c.CP}}</td>
                                </tr>
                            <tbody>
                        </table>
                    </p>
                </div>
            </div>
        </div>

        <div id="dinero" class="row">
            <div class="card col-12 mx-1 my-1 shadow">
                <div class="card-body">
                    <h4 class="card-title">Ventas del dia</h4>
                    <p class="card-text font-weight-bold">
                        <table class="table table-reflow">
                            <thead class="thead-light">
                                <tr>
                                    <th>Producto</th>
                                    <th>Total vendido</th>
                                    <th>Ingreso</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="c in ventas">
                                <tr>
                                    <td>{{c.nombre}}</td>
                                    <td>{{c.total}}</td>
                                    <td>{{c.ingreso}}</td>
                                </tr>
                            <tbody>
                            <tfoot>
                                <tr>
                                    <td>Totales:</td>
                                    <td> {{getVentasTotales()}}</td>
                                    <td>{{getTotalIngresos()}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </p>
                </div>
            </div>
        </div>

        <div id="dinero" class="row">
                <div class="card col-12 mx-1 my-1 shadow">
                    <div class="card-body">
                        <h4 class="card-title">Ventas Globales</h4>
                        <p class="card-text font-weight-bold">
                            <table class="table table-reflow">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Producto</th>
                                        <th>Total vendido</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in ventasGlobales">
                                    <tr>
                                        <td>{{c.nombre}}</td>
                                        <td>{{c.total}}</td>
                                    </tr>
                                <tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>