<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-10">
      <h1 class="display-4 open-sans-title text-monospace">Productos</h1>
    </div>

    <div class="col-2">
      <button class="btn btn-lg btn-yellow shadow" type="button" data-toggle="collapse"
        data-target="#collapseAddProducto" aria-expanded="false" aria-controls="collapseAddProducto">Agregar</button>
    </div>
  </div>

  <div class="row mt-3 collapse" id="collapseAddProducto">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card my-2">
        <div class="card-body shadow">
          <h5 class="card-title open-sans-title">Agregar producto</h5>
          <form name="productoForm">

            <label for="nombre" class="open-sans-title">
              Nombre
              <span class="required">*</span> 
            </label>
            <input name="nombre" id="nombre" placeholder="Nombre " class="form-control my-1" type="text"
              ng-required="true" ng-model="producto.nombre" maxlength="45">
            <div class="text-danger" ng-show="productoForm.nombre.$touched && producto.nombre.$invalid">
              Ingrese un nombre
            </div>

            <label for="descripcion" class="open-sans-title mt-2">Descripción </label>
            <textarea id="descripcion" placeholder="Descripción" class="form-control my-1" cols="30" rows="5"
              ng-model="producto.descripcion" maxlength="500">
            </textarea>

            <label for="tallas" class="open-sans-title mt-2">
              Talla 
              <span class="required">*</span>
            </label>
            <select name="tallas" id="tallas" class="form-control my-1" ng-required="true" ng-model="producto.idTalla">
              <option ng-repeat="talla in tallas" value="{{talla.idTallas}}">
                {{talla.talla}}
              </option>
            </select>
            <div ng-show="productoForm.tallas.$touched && productoForm.tallas.$invalid" class="text-danger">
              Seleccione una talla
            </div>

            <label for="precioVenta" class="open-sans-title mt-2">
              Precio Venta
              <span class="required">*</span>
            </label>
            <input id="precioVenta" type="number" placeholder="Precio Venta" class="form-control my-1" step="any"
              ng-model="producto.precioVenta" min="1"  max="999999999"/>

            <label for="precioCompra" class="open-sans-title mt-2">
              Precio Compra 
              <span class="required">*</span>
            </label>
            <input id="precioCompra" type="number" placeholder="Precio Compra" class="form-control my-1" step="any"
              ng-model="producto.precioCompra"  min="1" max="999999999"/>

            <label for="cantidad" class="open-sans-title mt-2">
              Cantidad 
              <span class="required">*</span>
            </label>
            <input id="cantidad" type="number" placeholder="Cantidad" class="form-control my-1"
              ng-model="producto.cantidad" min="1" max="999999999"/>

            <button class="btn text-light my-1 mt-3 bg-success" ng-click="agregarProducto()"
              ng-disabled="productoForm.$invalid">
              Agregar
            </button>

          </form>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

  <div id="cargando" class="row">
    <div class="col-12"><br><br><br><br><br></div>
    <div class="col-5"></div>
    <div class="col-2">
      <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="col-5"></div>
  </div>

  <div id="productos" class="row d-none">
    <div class="card col-12 mx-1 my-1 shadow">
      <div class="card-body">
        <p class="card-text font-weight-bold">
          <table class="table table-reflow">
            <thead class="thead-light">
              <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Talla</th>
                <th>Precio Venta</th>
                <th>Precio Compra</th>
                <th>Cantidad</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody ng-repeat="p in productos">
              <tr>
                <td>{{p.idPRODUCTOS}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.descripcion}}</td>
                <td>{{p.talla}}</td>
                <td>{{p.precioVenta}}</td>
                <td>{{p.precioCompra}}</td>
                <td>{{p.cantidad}}</td>
                <td><button ng-click="mostrarDatosModal(p.idPRODUCTOS)" class="btn btn-sm btn-info">Editar</button></td>
                <td><button ng-click="mostrarBorrarModal(p.idPRODUCTOS, p.nombre)" class="btn btn-sm btn-danger">Borrar</button>
                </td>
              </tr>
            <tbody>
          </table>
        </p>
      </div>
    </div>
  </div>

  <!-- MODALES -->
  <div class="modal fade" id="editarProductosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar producto {{ productoModal.nombre }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="alert alert-danger" role="alert" ng-show="mostrarAlerta">
            Llena todos los datos
          </div>

          <div class="col-12 my-5 form-group">
            <form name="productoModalForm">
              Nombre<span class="required">*</span> 
              <input name="nombre" class="form-control my-1" type="text"
                placeholder="Nombre" ng-required="true" ng-model="productoModal.nombre" maxlength="45">
              <div ng-show="productoModalForm.nombre.$touched && productoModalForm.nombre.$invalid" class="text-danger">
                Ingrese un nombre
              </div>
              Descripcion
              <input name="descripcion" class="form-control my-1" type="text" placeholder="descripción"
                ng-model="productoModal.descripcion" maxlength="500">

              Talla <span class="required">*</span>
              <select name="tallas" id="tallas" class="form-control my-1" ng-required="true"
                ng-model="productoModal.idTalla">
                <option ng-repeat="talla in tallas" value="{{talla.idTallas}}">
                  {{talla.talla}}
                </option>
              </select>

              Precio Venta<span class="required">*</span> 
              <input name="pVenta" class="form-control my-1" type="text"
                placeholder="" ng-required="true" ng-model="productoModal.precioVenta" min="1" max="999999">
              <div ng-show="productoModalForm.pVenta.$touched && productoModalForm.pVEnta.$invalid" class="text-danger">
                Ingrese un precio de venta
              </div>
              Precio Compra<span class="required">*</span> 
              <input name="pCompra" class="form-control my-1" type="text"
                placeholder="" ng-required="true" ng-model="productoModal.precioCompra" min="0" max="999999">
              <div ng-show="productoModalForm.pCompra.$touched && productoModalForm.pCompra.$invalid"
                class="text-danger">
                Ingrese un precio de compra
              </div>
              Cantidad<span class="required">*</span> 
              <input name="cantidad" class="form-control my-1" type="text"
                placeholder="" ng-required="true" ng-model="productoModal.cantidad" min="0" max="999999999">
              <div ng-show="productoModalForm.cantidad.$touched && productoModalForm.cantidad.$invalid"
                class="text-danger">
                Ingrese una cantidad
              </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" ng-disabled="productoModalForm.$invalid"
              ng-click="updateProducto()">
              Guardar cambios
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="borrarProductoModal" tabindex="-1" role="dialog" aria-labelledby="borrarProductoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar {{ productoEliminar.nombre }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Estás seguro de eliminar el producto {{ productoEliminar.nombre }}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-danger" ng-click="eliminarProducto(productoEliminar.id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

</div>