<div class=" open-sans-title container">
  <div class="row mt-3">
    <div class="col-10">
      <h1 class="display-4 open-sans-title text-monospace">Proveedores</h1>
    </div>

    <div class="col-2">
      <button class="btn btn-lg btn-yellow shadow" type="button" data-toggle="collapse"
        data-target="#collapseAddProveedor" aria-expanded="false" aria-controls="collapseAddProveedor">Agregar</button>
    </div>
  </div>
  <div class="row mt-3 collapse" id="collapseAddProveedor">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card my-2">
        <div class="card-body shadow">
          <form name="proveedorForm">
            <h5 class="card-title open-sans-title">Agregar proveedor</h5>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nombre">
                  Nombre
                </label>
                <span class="required">*</span>
                <input type="text" class="form-control" name="nombre" ng-required="true" ng-model="proveedor.nombre"
                  placeholder="Nombre del proveedor" maxlength="45">
                <div ng-show="proveedorForm.nombre.$touched && proveedorForm.nombre.$invalid" class="text-danger">
                  Ingrese un nombre
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="rfc">
                  RFC
                </label>
                <span class="required">*</span>
                <input type="text" class="form-control" nombre="rfc" ng-required="true" ng-model="proveedor.RFC"
                  placeholder="RFC" maxlength="45">
                <div ng-show="proveedorForm.rfc.$touched && proveedorForm.rfc.$invalid" class="text-danger">
                  Ingrese un RFC
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="telefono">Telefono</label>
                <input type="text" class="form-control" name="telefono" ng-model="proveedor.Telefono"
                  placeholder="Numero de teléfono fijo" maxlength="45">
              </div>
              <div class="form-group col-md-6">
                <label for="celular">Celular</label>
                <input type="text" class="form-control" name="celular" ng-model="proveedor.Celular"
                  placeholder="Número de celular" maxlength="45">
              </div>
            </div>
            <div class="form-group">
              <label for="correo">
                Correo Electrónico
              </label>
              <span class="required">*</span>
              <input type="email" class="form-control" name="correo" ng-required="true" ng-model="proveedor.Correo"
                placeholder="Correo electrónico" maxlength="45">
              <div ng-show="proveedorForm.correo.$touched && proveedorForm.correo.$invalid" class="text-danger">
                Ingrese un correo válido
              </div>
            </div>

            <div class="mb-3">
              <label for="validationTextarea">
                Observaciones
              </label>
              <textarea class="form-control" id="validationTextarea" ng-model="proveedor.Observaciones"
                name="observaciones" placeholder="Consideraciones con el proveedor" maxlength="500">
              </textarea>
            </div>
            <button type="submit" ng-disabled="proveedorForm.$invalid" ng-click="agregarProveedor()"
              class="btn btn-primary">
              Agregar
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

  <div id="cargando" class="row">
    <div class="col-12"><br><br><br><br><br></div>
    <div class="col-5"></div>
    <div class="col-2">
      <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="col-5"></div>
  </div>

  <div class="row">

    <div class="card col-3 mx-1 my-1 shadow" ng-repeat="p in proveedores">
      <div class="card-body">
        <h5 class="card-title">{{p.nombre}}</h5>
        <p class="card-text font-weight-bold">
          <ul class="list-group font-weight-bold">
            <li class="list-group-item">
              <p>RFC: <span class="font-weight-light">{{p.RFC}}</span></p><br>
            </li>
            <li class="list-group-item">
              <p>Teléfono: <span class="font-weight-light">{{p.telefono}}</p><br>
            </li>
            <li class="list-group-item">
              <p>Correo: <span class="font-weight-light">{{p.Correo}}</p><br>
            </li>
            <li class="list-group-item">
              <p>Observaciones: <span class="font-weight-light">{{p.observaciones}}</p>
            </li>
          </ul>
        </p>
      </div>
      <div class="form-group">
        <button type="button" class="btn bg-info text-light my-1" ng-click="mostrarDatosModal(p.idProveedor)"
          data-toggle="modal" data-target="editarProveedorModal">
          Editar
        </button>
        <button class="btn bg-danger text-light" ng-click="eliminarProveedor(p.idProveedor)">
          Borrar
        </button>
      </div>
    </div>
  </div>
  <!-- MODALES -->
  <div class="modal fade" id="editarProveedorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar proveedor {{ proveedorModal.nombre }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="alert alert-danger" role="alert" ng-show="mostrarAlerta">
            Llena todos los datos
          </div>

          <div class="row col-12 my-5 form-group">
            <form name="proveedorModalForm">
              Nombre
              <span class="required">*</span>
              <input name="nombre" class="form-control my-1" type="text" placeholder="Nombre" ng-required="true"
                ng-model="proveedorModal.nombre" maxlength="45">
              <div ng-show="proveedorModalForm.nombre.$touched && proveedorModalForm.nombre.$invalid"
                class="text-danger">
                Ingrese un nombre
              </div>
              RFC
              <span class="required">*</span>
              <input name="rfc" class="form-control my-1" type="text" placeholder="RFC" ng-required="true"
                ng-model="proveedorModal.RFC" maxlength="45">
              <div ng-show="proveedorModalForm.rfc.$touched && proveedorModalForm.rfc.$invalid" class="text-danger">
                Ingrese un RFC
              </div>
          </div>
          Teléfono
          <input class="form-control my-1" type="tel" placeholder="Telefono" ng-model="proveedorModal.Telefono"
            maxlength="45">
          Celular
          <input class="form-control my-1" type="tel" placeholder="Celular" ng-model="proveedorModal.Celular"
            maxlength="45">
          Correo Electrónico
          <span class="required">*</span>
          <input name="correo" class="form-control my-1" type="text" ng-required="true" placeholder="Dirección"
            ng-model="proveedorModal.Correo" maxlength="45">
          <div ng-show="proveedorModalForm.correo.$touched && proveedorModalForm.correo.$invalid" class="text-danger">
            Ingrese un correo válido
          </div>
          Observaciones
          <textarea class="form-control my-1" placeholder="Observaciones" cols="30" rows="5"
            ng-model="proveedorModal.Observaciones" maxlength="500">
              </textarea>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" ng-disabled="proveedorModalForm.$invalid"
              ng-click="updateProveedor()">
              Guardar cambios
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>