<div class="my-2 container">
  <br><br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 card shadow">
      <div class="card-body">
        <div class="card-title text-center mb-4">
          <h1 class="h3 open-sans-title mb-3 font-weight-normal">
            Nueva venta
          </h1>
          <p>Formato para llenar una venta a un cliente</p>
        </div>
        <form name="ventasForm">
          <div class="form-label-group">
            <label for="clientes" class="open-sans-title mt-2">
              Cliente
              <span class="required">
                *
              </span>
            </label>
            <select name="clientes" id="clientes" class="form-control my-1" ng-required="true" ng-model="idCliente">
              <option ng-repeat="p in clientes" value="{{p.idClientes}}">
                {{p.Nombre}}
              </option>
            </select>
            <div ng-show="ventasForm.clientes.$touched && ventasForm.clientes.$invalid" class="text-danger">
              Seleccione cliente
            </div>
          </div>

          <div class="form-label-group">
            <label for="clientes" class="open-sans-title mt-2">
              Empleado
              <span class="required">
                *
              </span>
            </label>
            <select name="empleados" id="empleados" class="form-control my-1" ng-required="true" ng-model="idEmpleado">
              <option ng-repeat="emp in empleados" value="{{emp.idEmpleado}}">
                {{emp.nombre}} {{emp.Ape_Pa}} {{emp.Ape_Ma}}
              </option>
            </select>
            <div ng-show="ventasForm.clientes.$touched && ventasForm.clientes.$invalid" class="text-danger">
              Seleccione empleado
            </div>
          </div>

          <div class="bg-white my-3">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10">
                <table class="table table-reflow table-responsive">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Producto</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Precio unitario</th>
                      <th class="text-right" scope="col">Subtotal</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="text-center" ng-repeat="nota in notaVenta" id="nota">
                    <tr>
                      <td>{{$index+1}}</td>
                      <td>
                        <p>{{nota.nombre}}</p>
                      </td>
                      <td>
                        <p>{{nota.cantidad}}</p>
                      </td>
                      <td>
                        <p>{{nota.precioVenta}}</p>
                      </td>
                      <td>{{nota.cantidad*nota.precioVenta}}</td>
                      <td>
                        <button ng-click="eliminar(nota)" class="btn btn-sm btn-danger">
                          Borrar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-right" colspan="4">Total</td>
                      <td class="text-right">{{getTotal()}}</button>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row">
              <p class="col-6 text-left">
                <button type="button" class="btn bg-info text-light my-1" ng-click="mostrarDatosModal()"
                  data-toggle="modal" data-target="agregarProdctoVenta">
                  Agregar Producto
                </button>
              </p>
              <p class="col-6 text-right">
                <button ng-click="completarCompra()" ng-disabled="ventasForm.$invalid"
                  class=" my-3 mx-3 btn btn-success">
                  Completar compra
                </button>
              </p>
            </div>
        </form>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <!--MODAL-->
  <div class="modal fade" id="agregarProdctoVenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Venta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert" ng-show="mostrarAlerta">
            Llena todos los datos
          </div>
          <div class="row col-12 my-5">
            <form class="ng-invalid col-12" name="ventasModalForm">
              <label>
                Producto
              </label>
              <select class="form-control" ng-model="producto.id" ng-required="true" ng-change="setCantidadMaxima()">
                <option ng-repeat="producto in productos" value="{{producto.idPRODUCTOS}}">
                  {{producto.nombre}}
                </option>
              </select>
              <label>
                Cantidad
              </label>
              <input class="form-control" type="number" ng-model="producto.cantidad" step="1" min="1" ng-required="true"
                max="{{cantidadMaxima}}" max="999999999">
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" ng-disabled="comprasModalForm.$invalid"
            ng-click="agregarProducto()">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>